.ipynb_checkpoints
__pycache__
run_bootstrap_cesm_ensemble_modelspread.py
pickled_files_regriddedobjects
linear_response_CESM_ensemblemean_withmore.ipynb
individual_ensemble_member_CESM_old.ipynb
run_bootstrap_cesm_ensemble_pvalue.py
application_to_obs_old3yearavg.ipynb
additional_app_obs_3year.ipynb
bootstrap_change_heat_3000_iap
bootstrap_change_water_3000_iap
iap_depblocksize_2to8_500members
individual_ensemble_member_CESM_projection.ipynb
true_freshwater_fluxes_projection.ipynb
run_bootstrap_cesm_ensemble_longertime_modelspread.py
true_freshwater_fluxes_longertimeseries_old_6april.ipynb
true_freshwater_fluxes_longertimeseries_projection.ipynb
**/2035to2080
individual_ensemble_member_CESM_longertimeseries_old.ipynb
individual_ensemble_member_CESM_longertimeseries_projection.ipynb
future_indiv_ensemble_newstyle_final_onlysig.png
historical_indiv_ensemble_newstyle_final.png
historical_indiv_ensemble_newstyle_newlegend_final.png
P(t)_CESM_ensemblemean.png
**/pickled_files_all
freshwater_fluxes_ensemble_projection_mean_std_2011to2055_new
freshwater_fluxes_ensemble_projection_mean_std_new
freshwater_fluxes_projection_mean_boot_2011to2055_new
freshwater_fluxes_projection_mean_boot_new
freshwater_fluxes_projection_std_boot_2011to2055_new
freshwater_fluxes_projection_std_boot_new
test_reviewer*
testing_reviewer*
/model_tests/**.png
test_timeseries.ipynb
plot_fafmip_salinity.ipynb
Untitled.ipynb
faf_heat_change_onmap.png
faf_change_onmap.png
/model_tests/pvalue_salt_trends_5clusters.py
/model_tests/run_bootstrap_cesm_ensemble_5clusters.py